<!-- Javascript Here -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/gatherer_helper.js"></script>
<script type="text/javascript">
	$().ready(function() {
		$("#card_name").keyup(function(){
			// Set Timeout
   			clearTimeout($.data(this, 'timer'));

			// Set Search String
		    	var search_string = $(this).val();

		    	// Do Search
		    	if (search_string == '') {}
			else
				$(this).data('timer', setTimeout(search, 100));
		});
	});
	function search()
	{	
		var search_value = $('#card_name').val();
		if(search_value !== '')
		{
			ajaxRequest('getcard', {'query': search_value}, handleGetCardData);
		}
		return false;
	}
	function ajaxRequest(operation, data, handler){	
		$.ajax({url: "/request/" + operation + "/",
			data:data,
			type: 'POST',
			cache: false,
			success: handler});
	}
		
	function handleGetCardData(data){ 
		if(data['error'] != "CARD_NOT_FOUND"){
			var card_html = '';
			card_html = "<img class='image'src='" + getWizardsSrc(data['name'])  + "'>";
			for(card_property in data){
				card_html += "<div class='property'><label>" + card_property + "</label><span class='" + card_property + "'>" + data[card_property] + "</span></div>";
			}	
			$('#right-panel .card-display').html(card_html);
		}
	}
</script>

<!-- CSS Here -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
