<!-- Javascript Here -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/gatherer_helper.js"></script>
<script type="text/javascript">
	$().ready(function() {
		$("#card_name").keyup(function(){
			// Set Timeout
   			clearTimeout($.data(this, 'timer'));

			// Set Search String
		    	var search_string = $(this).val();

		    	// Do Search
		    	if (search_string == '') {}
			else
				$(this).data('timer', setTimeout(search, 100));
		});
	});
	function search()
	{	
		var search_value = $('#card_name').val();
		if(search_value !== '')
		{
			ajaxRequest('searchcard', {'query': search_value, 'field': 'name'}, handleCardSearchData);
		}
		return false;
	}
	function ajaxRequest(operation, data, handler){	
		$.ajax({url: "/request/" + operation + "/",
			data:data,
			type: 'POST',
			cache: false,
			success: handler});
	}
	function handleCardSearchData(data){
		console.log(data);
		if(data['error'] != "CARD_NOT_FOUND"){
			var card_html = '';
			card_html = "<img class='image'src='" + getWizardsSrc(data['name'])  + "'>";
			for(card_property in data){
				card_html += "<div class='property'><label class='" + card_property + "'>" + card_property + "</label><div class='" + card_property + "'>" + data[card_property] + "</div></div>";
			}	
			$('#right-panel .card-display').html(card_html);
		}
	}
</script>

<!-- CSS Here -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
