{% include 'common/common_header.html' %}
<div class="header">
	<div class="container">
		<div class="logo">
			<h1>TopDeckr</h1>
		</div>
	</div>
</div>
<div id="site-container">
    <div class="right-pullout">
        <div class="sub-right-pullout">
            <div class="card-information">
            </div>
        </div>
        <form name="card_search" class="card-search-input">
            <h3>Search Cards</h3>
            <div class="control-group" style="margin:5px 0 0 0;">
                <input name="card-name" id="card-name" type="text" value class="form-control" >
            </div>
        </form>
        <div class="card-search">
        </div>
    </div>
</div>
{% include 'common/common_footer.html' %}
